doctype html
html.app(lang='en')

  include ../includes/head
  include ../includes/foot

  body

    div#page

      include ../includes/flash

      section#container
        block main

    include ../includes/footer

    
