if req.user
  script.
    var isLogin = true

if NODE_ENV == 'development'
  script.
    window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"><\/script>')

  script(src='/js/libs/bootstrap.js') 
  script(src='/js/libs/jquery-ui.js')		 
  script(src='/js/plugins.js')
  
  
  script(type='text/javascript', src='/js/plugins/jquery.scrollTo.min.js')    
  script(type='text/javascript', src='/js/plugins/jquery.nicescroll.js')
  script(type='text/javascript', src='/js/plugins/jquery.fileupload.js')
  script(type='text/javascript', src='/js/plugins/jquery.dcjqaccordion.2.7.js')
  
  script(src='/js/common-scripts.js')
 // script(data-main='/js/apps/main',src='/js/libs/require.js')
  
if NODE_ENV == 'production'
  script.
    window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"><\/script>')
  
  script(src='/js/libs/bootstrap.js') 
  script(src='/js/libs/jquery-ui.js')		 
  script(src='/js/plugins.js')
  script(src='/js/common-scripts.js')
  script(data-main='/js/apps/main',src='/js/libs/require.js')
  
  script.
    var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-22117109-15']); _gaq.push(['_trackPageview']);(function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();
