  <h3> Hello <%= email %>!</h3>

  <h6> Welcome to Numa Digital Fitness </h6> <br/><br/>
   
  <p>Thank you for choosing numa as your digital fitness choice. Visit our website http://www.numaforce.com for futher product information.   </p>
 
